.couponBox {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.inputCouponCodeBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputCouponCodeBox div {
  background: #f1f1f1;
  border-radius: 3px;
}
.inputCouponCodeBox input {
  background: transparent;
  border: none;
  outline: none;
  padding: 1rem;
}

.inputCouponCodeBox button {
  background: transparent;
  border: none;
  color: #1b4b66;
}
.inputCouponCodeBox button:hover {
  cursor: pointer;
}
