.profilePageContainer h1 {
  font-size: 3.4rem;
  color: #1b4b66;
}
.nameAndLogoutBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameAndLogoutBtn button {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 8px;
  background: transparent;
  border: #1b4b66 1px solid;
  border-radius: 8px;
}
.selectionAndInfoGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 2rem;
  margin-bottom: 5rem;
}
