.productsSortOptionsBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
  gap: 1rem;
}
.sortOptionsBox {
  position: relative;
  width: 15rem;
}
.activeSortValue {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 100%;
}
.activeSortValue :last-child {
  /* margin-right: 1rem; */

  position: absolute;
  right: 1rem;
}
/* .sortOptionsBox button {
  background: transparent;
} */
.sortOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  left: 0;
  gap: 1rem;

  background: rgb(240, 240, 240);
  padding-bottom: 1rem;
  border-radius: 0 0 3px 3px;
}
.sortOptions > button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.ascToggleBtn {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}
.productListSection {
  /* width: 100%; */
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.btnContainer {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.btnContainer button {
  cursor: pointer;
  background: transparent;
  color: #1b4b66;
  border: 1px solid #1b4b66;
  border-radius: 300px;
  padding: 1rem 3rem;
  margin-bottom: 4rem;
}
